.main-body {
    max-width: 70%;
    padding: 1rem;
    margin: auto;
    overflow-y: hidden;
}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .main-body {
        max-width: 95%;
        padding: 1rem;
        margin: auto;
        overflow-y: hidden;
    }
}

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .main-body {
        max-width: 85%;
        padding: 1rem;
        margin: auto;
        overflow-y: hidden;
    }
}
